<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="ClearTrip">
		<classes>
			<class name="workplace.FlightBookingTest" />
			<class name="workplace.SignInTest" />
			<class name="workplace.HotelBooking" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
